:root {
    --light-sand: #F8EEE7;
    --sand: #F4DECB;
    --dark-sand: #5F574F;
    --purple: #94618E;
    --dark-purple: #49274A;
}

a {
    color: var(--purple);
}

a:hover {
    text-decoration: none;
    color: var(--dark-purple);
}

.nav a:hover {
    color: var(--dark-purple);
    background: var(--sand) !important;
}

h1, h2, h3 {
    color: var(--dark-purple);
}

hr {
    border-color: var(--sand);
}

body {
    background: var(--light-sand);
    color: var(--dark-sand);
}

#header {
  margin-top: 10%;
}

.header-row {
    position: relative;
}

.navbar-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

#inner-content {
  height: 50%;
  min-height: 500px;
}

#footer {
  position: relative;
  bottom: 0;
}

#footer ul, .plain-list {
    padding: 0;
    list-style: none;
}

#footer ul li {
    display: inline;
    padding: 5%;
}
