:root {
    --light-sand: #F8EEE7;
    --sand: #F4DECB;
    --dark-sand: #5F574F;
    --purple: #94618E;
    --dark-purple: #49274A;
}

.no-margin {
    margin: 0;
}

.padding-top-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

a, a:visited {
    color: var(--purple);
}

a:hover, a:active {
    text-decoration: none;
    color: var(--dark-purple);
}

.nav a:hover {
    color: var(--dark-purple);
    background: var(--sand) !important;
}

h1, h2, h3, h4 {
    font-family: Georgia;
    color: var(--dark-purple);
}

hr {
    border-color: var(--sand);
}

body {
    background: var(--light-sand);
    color: var(--dark-sand);
}

blockquote {
    font-size: 14px;
    border-left: 3px solid var(--sand);
}

header {
  margin-top: 8%;
}

#blog-logo {
    width: 400px;
}

#post-header .row {
    display: flex;
}

#post-header .date-display {
    align-items: stretch;
    line-height: 3em;
    color: var(--dark-purple);
}

.header-row {
    position: relative;
}

.navbar-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

#inner-content {
  height: 50%;
  min-height: 500px;
}

#footer {
  position: relative;
  bottom: 0;
}

#footer ul, .plain-list {
    padding: 0;
    list-style: none;
}

#footer ul li {
    display: inline;
    padding: 5%;
}

.image {
    max-width: 100%;
}
