<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="container height-100">


      <div id="header">
        <div class="row header-row">
          <div class="col-sm-6">
            <h1>Software Engineer in Training</h1>
            <p>A blog by Samantha Word for CSCI 362</p>
          </div>
          <div class="col-sm-6 navbar-bottom">
            <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>


      <div id="inner-content">
         {{ content }}
      </div>


      <div id="footer">
        <div class="col-sm-6 col-sm-offset-3">
          <hr>
          <ul class="nav nav-pills nav-justified">
            <li><a href="https://github.com/SamWord">GitHub</a></li>
          </ul>
        </div>
      </div>


    </div>
  </body>
</html>